<% include ../inc/header %>
<div class="container">
	<div class="d-flex justify-content-center">
		<div class="col-md-8">
			<div class="card my-5">
				<div class="card-header">
					<h3 class="card-text text-center">Welcome To Dashboard</h3>
				</div>
				<div class="card-body py-5">
					<p class="card-text text-center">
						You are logged in as <span class="text-uppercase"><%= user.name %></span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../inc/footer %>