    <footer class="py-2">
        <p class="text-center">&copy; Copyright <a href="https://github.com/SagarMaheshwary" target="_blank">Sagar Maheshwary</a> 2019</p>
    </footer>
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>

        //close the alert after 3 seconds.
    	$(document).ready(function(){
			setTimeout(function() {
	        	$(".alert").alert('close');
	    	}, 3000);
    	});
    	
    </script>
</body>
</html>